/*
html{}
body{}
h1{}
h2{}
img{}
*/

#main{
    margin: 50px;
    padding: 15px;
    border-radius: 5px;
    background: white;
    font-family: arial; 
}

#img-div{
  background: white;
  height: auto;
  max-width: 100%;
}

/*
#img-caption{}
#headline{}
*/